{% extends "EticketBundle::layout.html.twig" %}

{% block selection %}
    <p>Bienvenue sur le site officiel de billetterie du Louvre!</p>
<section class="row">
    <div class="col-sm-4 thumbnail"><img src="{{ asset('images/Louvre2.jpg') }}" ></div>
    <div class="col-sm-4 thumbnail"><img src="{{ asset('images/Louvre3.jpg') }}"></div>
    <div class="col-sm-4 thumbnail"><img src="{{ asset('images/Louvre4.jpg') }}"></div>
</section>
<a  href="{{ path('eticket_selection') }}"> <button type="button" class="btn btn-primary btn-lg btn-block" style="display:block">Sélectionnez vos billets</button></a><!doctype html>
{% endblock %}