{% extends "::layout.html.twig" %}

{% block selection %}
    <div class="well" style="margin-top :15px;">
        <h2 style="margin-top:10px;">Contactez-nous!</h2>
        {{ form(form) }}
    </div>
{% endblock %}