{% extends "::layout.html.twig" %}

{% block selection %}
    <p>Bienvenue sur le site officiel de billetterie du Louvre!</p>
<section class="row">
    <div class="col-sm-5 "><img src="{{ asset('images/Louvre2.jpg') }}" ></div>
    <div class="col-sm-5 "><img src="{{ asset('images/Louvre3.jpg') }}"></div>

</section>
<a  href="{{ path('eticket_selection_step_one') }}"> <button type="button" class="btn btn-primary btn-lg btn-block" style="display:block">Sélectionnez vos billets</button></a><!doctype html>
{% endblock %}